

h1{
font-size: 200%;
  border: 1px solid #888;
  background-color: rgba(238,238,238,0.6);
color: #bb5544;
padding: 30px;
font-family: "Garamond","Georgia";
}

.highlight{
  background-color: #ffff00;
}

.credit{
  border: 1px dashed #aaa;
  color: #fff;
  width: 20%;
}
#main{ // best for single thing
  background-color: yellow;
}

main{
  color: #666;
  border: 1px solid #888;

padding: 30px;
font-family: "Verdana", "Arial", sans-serif;
font-weight: 300;
letter-spacing: 0.2px;
line-height:40px;

}

p{
  font-size: 75%;
}

#copyright-year::after{
  content: " 2021";
}
box-sizing: border-box;

.column{
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img{
  width:54%;
  opacity: 0.8;
}
