body{
  background-color: #ffffff; // NOT transparent

}

h1{

font-size: 200%;
  border: 1px solid #000;
  background-color: #eee;
color: #bb5544;
padding: 30px;
font-family: "Garamond","Georgia";


}

.highlight{
  background-color: #ffff00;
}

.credit{
  border: 1px dashed #aaa;
  color: #fff;
  width: 20%;
}
#main{ // best for single thing
  background-color: yellow;
}

main{
  color: #bbb;
  border: 1px solid #000;

padding: 30px;
font-family: "Verdana", "Arial", sans-serif;
font-weight: 300;
letter-spacing: 0.2px;
line-height:20px;

}

p{
  font-size: 75%;
}

#copyright-year::after{
  content: " 2021";
}

div{
  color:blue;
}
